In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.join(os.path.abspath('..')))

In [2]:
df = pd.read_csv("../data/Real-Data/Real_Combine.csv")

In [4]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM  PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4     0.0
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1     0.0
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1     0.0
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6     0.0
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2     0.0

### Checking null values

In [6]:
df.isnull().sum()

T         0
TM        0
Tm        0
SLP       0
H         0
VV        0
V         0
VM        0
PM 2.5    0
dtype: int64

### Seeing unique values

In [7]:
df.nunique()

T         243
TM        238
Tm        223
SLP       254
H          76
VV         22
V          94
VM         27
PM 2.5      1
dtype: int64

In [8]:
print('shape',df.shape)

shape (731, 9)